<h1>Log In Page</h1>

<form action="<%= sessions_url %>" method="post">

<input type="hidden"
       name="authenticity_token"
       value="<% form_authenticity_token %>">

<label for="username">Username: </label>
<input type="text" id="username" name="user[username]">

<br>

<label for="password">Password: </label>
<input type="password" id="password" name="user[password]">

<br>

<input type="submit" value="Log in!">
</form>
