<% action_url = action == :edit ? user_url(user.id) : users_url %>

<form action="<%=action_url%>" method="post">
<% if action == :edit %>
  <input type="hidden" name="_method" value="patch">
<% end %>

<input type="hidden"
       name="authenticity_token"
       value="<%form_authenticity_token%>">

<label for="username">Username: </label>
<input type="text" id="username"
       name="user[username]"
       value="<%=user.username%>">

<br>

<label for="password">Password: </label>
<input type="password" id="password"
       name="user[password]">

<br>

<input type="submit" value="Create/Edit User">
</form>
